.news {
    display: none;
    opacity: 0;
    position: fixed;
    right: 5px;
    top: 90px;
    /*border: 1px solid black;*/
    animation:  upDisplay 3s;
    box-shadow: #363636 4px 3px 3px;
    z-index: 1000;
}

@keyframes upDisplay {
    0%{
        top: 90px;
        opacity: 0;
    }
    60% {
        top: 90px;
        opacity: 1;
    }
    100%{
        top: 10px;
        opacity: 0;
    }
    /*100% {*/
    /*    top: 90px;*/
    /*    opacity: 1;*/
    /*}*/
}
.news .content {
    height: 60px;
    width: 200px;
    border-left: 10px solid #09b109;
    padding: 20px 20px;
    background-color: rgba(255,255,255, 0.8);
}
